* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient( rgb(106, 0, 206), rgb(0, 62, 177));
}

.content {
    padding: 60px;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 30px rgb(9, 99, 126);
}

.detail-c {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tag {
    font-weight: bold;
    color: rgb(20, 20, 20);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: large;
    margin-top: 10px;
}

input {
    width: 280px;
    height: 30px;
    font-size: large;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 40px rgb(234, 212, 255);
}

textarea {
    font-size: large;
    padding: 5px;
    font-family: sans-serif;
    box-shadow: 0 0 40px rgb(242, 228, 255);
}

button {
    width: 290px;
    height: 40px;
    font-size: large;
    margin-top: 35px;
    border: none;
    border-radius: 8px;
    background: linear-gradient( rgb(152, 42, 255), rgb(93, 150, 255));
    font-weight: bold;
    color: white;
}

.alert {
    visibility: hidden;
    height: 0;
}

.alert-show {
    visibility: visible;
    margin-top: 5px;
    color: red;
}

.form_c {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

p {
    margin-top: 8px;
}

.form_c > label {
    display: flex;
    margin: 0;
    align-items: center;
    margin-left: 10px;
}

.bigtext {
    height: 110px;
    width: 290px;
    border-radius: 10px;
    text-align:justify;
    padding: 3px;
}

.checkbox {
    width: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.hobbies, .gender {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.op {
    font-size: large;
    margin: 0;
}

.d_name {
    align-self: flex-start;
    font-size: large;
}

.input-containers{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}  

button {
    align-self: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 15px;
    font-size: 40px;
}

a {
    font-size: large;
}

.login-alert {
    visibility: hidden;
    height: 0;
}

.show-login-alert {
    visibility: visible;
    margin-top: 5px;
    color: red;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#change-pass-button {
    width: 20px;
    margin: 0px 10px;
    margin-top: 30px;
}

#change-pass{
    font-size: large;
    display: flex;
    align-self: start;
}

span {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .content {
        width: 50%;
        height: 50%;
    }
}
