{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Register {% endblock %}</h1>
<form method="post" onsubmit="return onRegister()">

    <div class="form_c register">
        <div class="input-containers">
            <label for="first_name">First Name</label>
            <input id="f_name" type="first_name" name="first_name" placeholder="Enter First Name" maxlength="30"
                value="{{ request.form['first_name'] }}">
            <div class="alert" id="f_name-alert">First name field is required</div>
        </div>

        <div class="input-containers">
            <label for="last_name">Last Name</label>
            <input id="l_name" type="last_name" name="last_name" placeholder="Enter Last Name"
                value="{{ request.form['last_name'] }}">
            <div class="alert" id="l_name-alert">Last name field is required</div>
        </div>
        <div class="input-containers">
            <label for="Email">Email</label>
            <input id="r_email" type="email" name="email" placeholder="enter Email" value="{{ request.form['email'] }}">
            <div class="alert" id="r_email-alert">Email field is required</div>
        </div>
        <div class="input-containers">
            <label for="gender">Gender</label>
            <div class="gender">
                <input class="checkbox" type="radio" name="gender" value="male"> <label class="op"
                    for="male">Male</label>
                <input class="checkbox" type="radio" name="gender" value="female"><label class="op"
                    for="female">Female</label>
            </div>
            <div class="alert" id="gender-alert">Select Gender</div>
        </div>

        <div class="input-containers">
            <label for="passsword">Passsword</label>
            <input id="r_pass" type="password" name="password" placeholder="Enter password"
                value="{{ request.form['password'] }}">
            <div class="alert" id="r_pass-alert">Password field is required</div>
            <label for="Confirm_passsword">Confirm Passsword</label>
            <input id="rc_pass" type="password" name="Confirm_password" placeholder="Confirm password"
                value="{{ request.form['c_password'] }}">
            <div class="alert" id="rc_pass-alert">Password Confirmation field is required</div>
        </div>

        <div class="input-containers">
            <label for="address">Address</label>
            <textarea id="address" name="address" placeholder="address"
                class="bigtext">{{ request.form['address'] }}</textarea>
            <div class="alert" id="address-alert">Address Field is required</div>
        </div>
    </div>
    <div class="input-containers">
        <label for="hobbies">Hobbies</label>
        <div class="hobbies">
            <input class="checkbox" type="checkbox" name="option" value='reading'> Reading
            <input class="checkbox" type="checkbox" name="option" value='writing'> Writing
            <input class="checkbox" type="checkbox" name="option" value='movies'> Movies
            <input class="checkbox" type="checkbox" name="option" value='drawing'> Drawing
            <input class="checkbox" type="checkbox" name="option" value='cooking'> Cooking
            <input class="checkbox" type="checkbox" name="option" value='sports'> Sports
        </div>
        <div class="alert" id="hobbies-alert">Select atleast one hobby</div>
    </div>
    <button type="submit">Submit</button>
    <p class="link">Already have an account? <a href=" {{ url_for('users.login') }} ">Login</a></p>
</form>
{% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}
{% endblock %}